<a href="https://colab.research.google.com/github/theBuluku/Ad_Prediction_Project/blob/master/climate_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def read_dataframe(filename):
    """
    python function to load the world bank data.
    args:
        filename - path of file to be loaded
    Returns:
        normal dataframe and a transposed dataframe on country name
    """
    normal_df = pd.read_csv(filename, skiprows=4)
    t_df = normal_df.set_index('Country Name').T
    return normal_df, t_df

normal_df, t_df = read_dataframe('API_19_DS2_en_csv_v2_4700503/API_19_DS2_en_csv_v2_4700503.csv')
normal_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,43.866000,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.000000,...,44351.000000,44666.000000,44978.000000,45293.000000,45614.000000,45949.000000,46294.000000,46654.000000,47022.000000,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.206183,1.404498,0.788835,0.551271,0.544810,...,0.660561,0.707733,0.696090,0.697901,0.706219,0.731740,0.748028,0.774631,0.785691,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.000000,...,103165.000000,103776.000000,104339.000000,104865.000000,105361.000000,105846.000000,106310.000000,106766.000000,107195.000000,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017,0.401008,NaN